<div class='mx-auto mt-5' style="width: 500px">
  <h1>Coding Dojo Survey</h1>
  <form action="result" method="POST">
    <div class="form-group mb-3">
      <label for="Name" class="form-label">Your Name</label>
      <input type="text" name="Name" id="Name" class="form-control">
    </div>
    
    <div class="form-group mb-3">
      <label for="Location" class="form-label">Dojo Location</label>
      <select name="Location" id="Location" class="form-control">
        <option value="Online">Online</option>
        <option value="San Jose">San Jose</option>
        <option value="Tulsa">Tulsa</option>
        <option value="Seattle">Seattle</option>
        <option value="Dallas">Dallas</option>
        <option value="San Diego">San Diego</option>
      </select>
    </div>
    
    <div class="form-group mb-3">
      <label for="Language" class="form-label">Favorite Language:</label>
      <select name="Language" id="Language" class="form-control">
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
        <option value="C#">C#</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="Comment" class="form-label">Comment</label>
      <textarea name="Comment" id="Comment" cols="30" rows="4" class="form-control"></textarea>
    </div>

    <div class="d-grid mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
