@{
    ViewData["Title"] = "Home Page";
}

@model Survey

<form asp-action="Create" asp-controller="Home" method="POST">
    <div class="form-group">
        <label class="form-label" asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input class="form-control" asp-for="Name">
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Location"></label>
        <select asp-for="Location" class="form-control">
            <option value="Online">Online</option>
            <option value="Burbank">Burbank</option>
            <option value="Seattle">Seattle</option>
            <option value="Chicago">Chicago</option>
        </select>
    </div>
    
    <div class="form-group">
        <label class="form-label" asp-for="Language"></label>
        <select asp-for="Language" class="form-control">
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Comment"></label>
        <span asp-validation-for="Comment" class="text-danger"></span>
        <textarea class="form-control" asp-for="Comment"></textarea>
    </div>
    <div class="d-grid mt-3">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>