<div class='mx-auto mt-5' style="width: 500px">
  <h1>Submission Results</h1>
  <table class="table table-borderless" style="width: 500px">
    <tr>
      <td style="width: 160px">Name:</td>
      <td>@Model.Name</td>
    </tr>
    <tr>
      <td>Dojo Location:</td>
      <td>@Model.Location</td>
    </tr>
    <tr>
      <td>Favorite Language:</td>
      <td>@Model.Language</td>
    </tr>
    <tr>
      <td>Comment</td>
      <td>@Model.Comment</td>
    </tr>
  </table>
  <div class="d-grid">
    <a href="/" class="btn btn-primary">Go back</a>
  </div>
</div>
