@* form for user registration *@
@model User

<form asp-controller="User" asp-action="Register" method="post">
  <div>
    <label asp-for="FirstName" class="form-label"></label>
    <span asp-validation-for="FirstName" class="text-danger font-weight-bold"></span>
    <input asp-for="FirstName" class="form-control"/>
  </div>
  <div>
    <label asp-for="LastName" class="form-label"></label>
    <span asp-validation-for="LastName" class="text-danger font-weight-bold"></span>
    <input asp-for="LastName" class="form-control"/>
  </div>
  <div>
    <label asp-for="Email" class="form-label"></label>
    <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
    <input asp-for="Email" class="form-control"/>
  </div>
  <div>
    <label asp-for="Password" class="form-label"></label>
    <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
    <input asp-for="Password" class="form-control"/>
  </div>
  <div>
    <label asp-for="Confirm" class="form-label"></label>
    <span asp-validation-for="Confirm" class="text-danger font-weight-bold"></span>
    <input asp-for="Confirm" class="form-control"/>
  </div>
  <button>Submit</button>
</form>