@{
    ViewData["Title"] = "Register";
}

@model User
@* asp-action is our method name within the controller 
asp-controller specifies which Controller we want to use 
the following form gets sent to the Create method within our UserController class*@

<form asp-action="Create" asp-controller="User" method="POST">
  
  @* adding the [Display(Name = "Your name:")] within the Model will automatically display it on the corresponding asp-for label *@
  <div class="form-group">
    <label class="form-label" asp-for="Username"></label>
    <span asp-validation-for="Username" class="text-danger"></span>
    <input class="form-control" asp-for="Username">
  </div>

<div class="form-group">
  <label class="form-label" asp-for="Email"></label>
  <span asp-validation-for="Email" class="text-danger"></span>
  <input class="form-control" asp-for="Email">
</div>

<div class="form-group">
  <label class="form-label" asp-for="Password"></label>
  <span asp-validation-for="Password" class="text-danger"></span>
  <input class="form-control" asp-for="Password">
</div>

<div class="d-grid mt-3">
  <input class="btn btn-primary" type="submit" value="Add user">
</div>
</form>