@model List<Category>

@{
  Category newCategory = new Category();
}

<div class="row">

  <div class="col">
    <partial name="_NewCat" model="@newCategory"></partial>
  </div>

  <div class="col w-75 mx-auto shadow p-5" >
    <table>
      @foreach (Category item in Model)
      {
        <tr>
          <td><a asp-action="Details" asp-route-categoryId="@item.CategoryId">@item.Name</a></td>
        </tr>
      }

    </table>
  </div>
</div>